doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='icon', type='image/png', href='../images/logo.png')
    title Care360
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
    link(rel='stylesheet prefetch', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../stylesheets/patHome.css')
  body
    #mySidenav.sidenav
      a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
      a(href='patHome.html') Home
      a(href='findDoc.html') Find a Doctor
      a(href='hisotry.html') My Appointment History
      a(href='patLogout.html') Logout
    #content
      img.logo(src='logo2.png')
    h2(style='color:white;text-align:center;') Cardiologists
    
    span(style='font-size:30px;cursor:pointer;color:white;', onclick='openNav()') ☰ 
    script.
      function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      }
      function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      }
    div
      script.
        $(function() {
        $.getJSON('spellData.json')
        .success(function(data) {
        var tr;
        for (var i = 0; i < data.length; i++) {
        tr = $('<tr/>');
        tr.append("<td>" + data[i][0] + "</td>");
        tr.append("<td>" + data[i][1] + "</td>");
        $('table').append(tr);
        }
        })
        .error(function(e) { console.error(e); })
        });
