doctype html
html
  head
    meta(charset='UTF-8')
       
    link(rel='icon', type='image/png', href='images/logo.png')
       
    title Care360
       
    meta(name='viewport', content='width=device-width, initial-scale=1')
       
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
       
    link(rel='stylesheet prefetch', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
       
    link(rel='stylesheet', type='text/css', href='stylesheets/docLog.css')
  body
    .image
   
       
    .container(ng-app='myApp')
      .row
        div(ui-view='')
         
         
      script(type='text/ng-template', id='login.html').
        <div class="col-md-12 col-md-offset-3">
        <h3>Dear Doctor! Please Login.</h3>
        <form ng-submit="formSubmit()" class="form">
        <div class="col-md-4">
        <div class="form-group">
        <input type="text" class="form-control" ng-model="username" placeholder="username" required=""/>
        </div>
        <div class="form-group">
        <input type="password" class="form-control" ng-model="password" placeholder="password" required=""/>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-success">Login</button>
        <span class="text-danger">{{ error }}</span>
        </div>
        </div>
        </form>
        <div class="reg">
        <h5 style = "color:white;"> New to Care360? Please Register.</h5>
        <button onclick="location.href='docReg.html'" type ="submit" class="btn btn-primary">Register</button>
        <!-- <button type = "submit" class = "btn btn-primary">Register</button> -->
        </div>
        </div>
         
         
      script(type='text/ng-template', id='home.html').
        <div class="col-md-12">
        <h3>Home Page</h3>
        <a ui-sref="login">Back</a>
        </div>
       
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js')
         
    script(src='js/docLogin.js')
