doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='icon', type='image/png', href='logo.png')
    title Care360
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
    link(rel='stylesheet prefetch', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='patHome.css', <='', head='')
  body
    #mySidenav.sidenav
      a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
      a(href='patHome.html') Home
      a(href='#') Find a Doctor
      a(href='history.html') My Appointment History
      a(href='patLogout.html') Logout
    #content
      img.logo(src='logo2.png')
    h2(style='color:white;') Hello Patient! View your appointment history.
    | s
    span(style='font-size:30px;cursor:pointer;color:white;', onclick='openNav()') ☰ 
    script.
      function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      }
      function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      }
    table(border='1', width='100%')
      tr
        td
          table(border='1', width='100%')
            tr
              th Doctor Name
              th Time
              th Date
            tr
              td Omair Shaikh
              td 14:00
              td 01/05/17
            tr
              td Hassan Hasan
              td 11:30
              td 05/05/17
            tr
              td Naruto Uzumaki
              td 12:00
              td 07/05/17
            tr
              td Junaid Siddiqui
              td 16:30
              td 10/05/17
