doctype html
html
  head
    title Care360

   

    link(rel='icon', type='image/png', href='images/logo.png')

    link(rel='stylesheet', type='text/css', href='stylesheets/landing.css')
    meta(name='viewport', content='width = device-width, initial-scale = 1')
  body
    .image

    a(href='/docLog', style='text-decoration: none;')
      button.button I am a Doctor.
    a(href='#', style='text-decoration: none;')
      button.button I am a Patient.
