doctype html
html
  head
    title Care360
<<<<<<< HEAD
     
     
    link(rel='icon', type='image/png', href='logo.png')
     
    link(href='bootstrap.min.css', rel='stylesheet')
     
     
=======

    link(rel='icon', type='image/png', href='images/logo.png')

    link(rel='stylesheet', type='text/css', href='stylesheets/landing.css')

>>>>>>> ea3b9d68823b3f682387e58d477e399ad7cb1b1c
    meta(name='viewport', content='width = device-width, initial-scale = 1')
  body
    .image

     
    a(href='docLog.html', style='text-decoration: none;')
      button.button I am a Doctor.
     
    a(href='#', style='text-decoration: none;')
      button.button I am a Patient.
