<!DOCTYPE html>
<html>
<head>
	<title>Care360</title>
	<script type = "text/javascript" src = "angular.min.js"> </script>
	<script type = "text/javascript" src = "app.js"> </script>
	<link rel="icon" type="image/png" href="logo.png"/>
	<link href = "bootstrap.min.css" rel = "stylesheet">
	<link rel="stylesheet" type="text/css" href="landing.css">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
</head>
<body>


	<div class="image"></div>​
	<a href="docLog.html" style="text-decoration: none;">
		<button class="button">I am a Doctor.</button> 
	</a>
	<a href="#" style="text-decoration: none;">
		<button class="button">I am a Patient.</button> 
	</a>


</body>
</html>
