<!DOCTYPE html>
<html>
<head>

 <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="logo.png" />
  <title>Care360</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="patHome.css"
  

</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="patHome.html">Home</a>
  <a href="findDoc.html">Find a Doctor</a>
  <a href="hisotry.html">My Appointment History</a>
  <a href="patLogout.html">Logout</a>
</div>

<div id="content">
    <img src="logo2.png" class="logo"/>
</div>

<div id = "info">
  <ul>
      <li style= "text-align: center;" > Notifications Today</li>
      <li> Navigate your way through Care360 by clicking on the sliding menu bar on your left. </li>
      <li> Not feeling well? Find a Doctor.</li>
      <li> Doctors you have been to before? Go to My Appointment History.</li>
      <li> </li>
     
  </ul>
 </div>


<h2 style = "color:white;">Hello Patient! Welcome to Your Account on Care360.</h2>
s
<span style="font-size:30px;cursor:pointer;color:white;"" onclick="openNav()">&#9776; </span>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
     
</body>
</html> 
