doctype html
html
  head
    meta(charset='UTF-8')

    link(rel='icon', type='image/png', href='../images/logo.png')

    title Care360

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')

    link(rel='stylesheet prefetch', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')

    link(rel='stylesheet', type='text/css', href='../stylesheets/docHome.css')
  body
    #mySidenav.sidenav
      a.closebtn(href='javascript:void(0)', onclick='closeNav()') &times;

      a(href='/doctor/') Home

      a(href='/doctor/setClinicTime') Set Clinic Times

      a(href='/doctor/approveAppoint') Approve Appointments

      a(href='/doctor/schedule') Appointment Schedule Today

      a(href='/doctor/myPatients') My Patients

      a(href='/doctor/docLogout') Logout
    #content
      img.logo(src='../images/logo2.png')
    h2(style='color:white; text-align:center;') Today&apos;s Schedule
    span(style='font-size:30px;cursor:pointer;color:white;', onclick='openNav()') &#x2630;
    script.
      function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      }
      function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      }
    table
      tr
        th Patient

        th Number

        th Time

        tr
          td Omair Shaikh

          td 0345 671 2900

          td 14:00

        tr

          td Minha Malik

          td 0322 412 6900

          td 15:00
