<!DOCTYPE html>
<html>
<head>

 <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="logo.png"/>
  <title>Care360</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="docHome.css"
  

</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="docHome.html">Home</a>
  <a href="setClinicTimes.html">Set Clinic Times</a>
  <a href="approveAppoint.html">Approve Appointments</a>
  <a href="schedule.html">Appointment Schedule Today</a>
  <a href="myPatients.html">My Patients</a>
  <a href="docLogout.html">Logout</a>
</div>

<div id="content">
    <img src="logo2.png" class="logo"/>
</div>


<h2 style = "color:white; text-align:center;">Set Clinic Times of Your Convienence</h2>

<span style="font-size:30px;cursor:pointer;color:white;"" onclick="openNav()">&#9776; </span>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
     
</body>
</html> 
