body {
<<<<<<< HEAD

=======
    
<<<<<<< HEAD
    background-image: url("images/bodyimg.jpg");
=======
>>>>>>> 525d319eb7e73ac82637d51cacdac8c826862c8f
    background-image: url("../images/bodyimg.jpg");
>>>>>>> 6db2ad84dfc2d6bfdde346cd5ee0cf5f3b997766
    background-size: 100%;
    background-repeat: no-repeat;
}
button{
  color:#7c174c;
  display: block;
  margin: 160px 40px -150px 150px;
  padding: 7px 25px;
  font: 300 150% Georgia;
  background: transparent;
  border: 3px solid #18607f;
  cursor: pointer;
}

button:hover {
  background: white;
  border: 1px solid #8b8b8b;
 
}

button:active {
  background: #262b7c;
  border: 1px solid black;
  color: white;
}

div.image {
<<<<<<< HEAD
  content:url("images/logo.png");
=======
  content:url("../images/logo.png");
>>>>>>> 6db2ad84dfc2d6bfdde346cd5ee0cf5f3b997766
  height: 250px;
  width: 30%;
  margin: 10px 100px -190px 50px;
}​
