body {

    background-image: url("../images/bodyimg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
button{
  color:#7c174c;
  display: block;
  margin: 160px 40px -150px 150px;
  padding: 7px 25px;
  font: 300 150% Georgia;
  background: transparent;
  border: 3px solid #18607f;
  cursor: pointer;
}

button:hover {
  background: white;
  border: 1px solid #8b8b8b;
}

button:active {
  background: #262b7c;
  border: 1px solid black;
  color: white;
}

div.image {
  content:url("../images/logo.png");
  height: 250px;
  width: 30%;
  margin: 10px 100px -190px 50px;
}​
